<!doctype html>
<html lang="en">
	<head>
  		<meta charset="UTF-8">
  		<title>Layerz.tv</title>
		<script src="/javascripts/dropzone.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>  
		<link rel="stylesheet" href="/stylesheets/style.css">
		<link rel="stylesheet" href="/stylesheets/dropzone.css">  	
		<script src="socket.io/socket.io.js"></script>
 <!--
 <td>OBS Custom ServerSetup URL:
  <br>rtmp://danmnet.ucsc.edu/live
  <br>Stream Key: rtmp_lair "</td></tr>
-->

</head>
<body>
<div id="background">
    <img src="/images/layerz.png" class="stretch" alt="" />
</div>  <div id="notbackground">
	<ul class="pages">
    <li class="chat page">
	<div class="row">
		<div class="col-sm-12" style="background-color:#000">
			<center>			
				<div id="webRTCfeed">Loading the player...</div>
			</center>
		</div>
	</div>
	
 <div class="row">
                <div class="col-sm-12">

                <div id="thumbsButtons" class="btn-group btn-group-justified" role="group" aria-label="...">
  <div class="btn-group" role="group">
    <button value="backgrounds" type="button" class="btn btn-default active">BACKGROUNDS</button>
  </div>
  <div class="btn-group" role="group">
    <button value="midgrounds" type="button" class="btn btn-default">MIDGROUNDS</button>
  </div>
  <div class="btn-group" role="group">
    <button value="foregrounds" type="button" class="btn btn-default">FOREGROUNDS</button>
  </div>
<div class="btn-group" role="group">
    <button value="audio" type="button" class="btn btn-default">AUDIO</button>
  </div>
 <div class="btn-group" role="group">
    <button value="webcam" type="button" class="btn btn-default">WEBCAM</button>
  </div>
</div>
                </div>
        </div>
	<div class="row" style="max-height:45%; min-height:45%; height:45%; margin:0px; padding:0px;">
	 <div class="col-sm-6" id="thumbs_temp" style="overflow-y:auto; max-height:100%; min-height:100%; height:100%;">

	<script>
	var socket = io();
	var uploadURL = '';
	var dropzoneMessage = '';
$('#thumbsButtons button').click(function(){
                        videoType2 = $(this).val();
        	if(videoType2=="backgrounds"){
			uploadURL='/uploadBackground';
			dropzoneMessage = 'Drag a background video here to upload.';
		}
		else if(videoType2=="foregrounds"){
			uploadURL='/uploadForeground';
			dropzoneMessage = 'Drag a foreground video here to upload.';
		}
		else if(videoType2=="midgrounds"){
			uploadURL='/uploadMidground';
			dropzoneMessage = 'Drag a midground video here to upload.';
		}
		else if(videoType2=="audio"){
			uploadURL='/uploadAudio';
			dropzoneMessage = 'Drag audio here to upload.';
		}
	        
	});
	/*	Dropzone.autoDiscover = false;
		var socket = io();
		var videoType2
		
		$('#thumbsButtons button').click(function(){
        		videoType2 = $(this).val();
			console.log("video type in page " + videoType2);
		});
		if (document.getElementById('div#multiZone')) {
		var myDPZone = new Dropzone("div#multiZone");
			if (videoType2=='backgrounds') {
				myDPZone.options.url = "/uploadBackground";
			}
			else if (videoType2=='midgrounds') {
				myDPZone.options.url = "/uploadMidground";
			}
			console.log("in the multi zone" + myDPZone.options.url);
		}	*/
Dropzone.options.myDropzone = {
	init: function() {
    		this.on("processing", function(file) {
				this.options.url = uploadURL;
		});
	},
	dictDefaultMessage:  'Drag your content here to upload.',
        success: function(file, response) {
                                var obj = JSON.parse(response);
                                var name = obj.files[0].name;
                                console.log('create multi thumb : ' + name);
                                socket.emit('createMultiThumb', { name: name, type: uploadURL});
                        }
	}
	</script>
	<ul class="assets">
	<li class="dzone">
			<div id="my-dropzone" class="dropzone" action="/upload"></div>
	</li>
	 <li class="background thumbs">
                        <% include backgroundThumbsView.html %>
	</li>
	 <li class="midground thumbs">
                        <% include midgroundThumbsView.html %>
	</li>
	 <li class="webcam">
                        <% include webcamView.html %>
	</li>
	 <li class="audio">
                        <% include audioView.html %>
        </li>
    	 <li class="foreground thumbs">	
			<% include foregroundThumbsView.html %>
	</li></ul>
	</div>
		<div class="col-sm-6" style="max-height:100%; min-height:100%; height:100%;">
			<% include chatView.html %>
		</div>
	</div>
    </li>
	
    <li class="login page">
	<div class="form">
<br><br>		<br><br><br><br><br>
<h2>layerz.tv</h2>
	<h1>Multilayer Lair</h1><br><br><br><br>
        	<input class="usernameInput" type="text" maxlength="14" />
      		<h4>To join, choose a chat name and press "return"</h4>
	</div>
    </li>
  </ul>
</div>
<script src="/javascripts/jwplayer/jwplayer.js"></script>
<script src="/javascripts/chat.js"></script>
<script src="/javascripts/multilayer.js"></script>
<script>jwplayer.key="hKr0It8yDiMnKte/Cy3p9KDJ74XfRooWYAiO8A==";</script>
</body>
</html>
